@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: relative;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    background: #111;
}

.text
{
    position: relative;
    transform: skewY(345deg);
}